@import "tailwindcss";

@theme {
  --font-audiowide: "Audiowide", "sans-serif";
  --font-geo: "Geo", "sans-serif";
  --font-iceland: "Iceland", "sans-serif";
  --font-zcool: "ZCOOL QingKe HuangYou", "sans-serif";
  --font-silkscreen: "Silkscreen", "sans-serif";
  --font-handjet: "Handjet", "sans-serif";

}

body {
  background-color: beige;
}